body{
    text-align: center;
    justify-content: center;
    display: flex;
}

.container{
    text-align: center;
    justify-content: center;
    background-color: gray;
    padding: 50px;
    margin: 50px;
    border-radius: 50px;
    width: 700px;
    display: block;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    justify-items: center; 
}

form div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number{
    margin: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 80px;
    text-align: center;
}

.btnEnviar{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background-color: rgb(121, 89, 89);
    color: white;
    border-color: rgb(121, 89, 89);
    margin-top: 30px;
    margin-left: 10px;
}

.checkbox {
    margin-top: 5px;
}

#txtCalculadora{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}