.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
}

h1#txtCalculadora {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos */
}

.numeros-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    justify-content: center; /* Centra los elementos en el contenedor */
    width: 100%; /* Asegura que ocupe todo el ancho */
}

.label-input {
    display: flex;
    flex-direction: column; /* Mantiene el checkbox arriba del input */
    align-items: center; /* Alinear al centro */
    margin: 15px; /* Espaciado entre los elementos */
    width: calc(33.33% - 30px); /* Ajustar el ancho para permitir tres elementos en fila con margen */
    min-width: 150px; /* Asegura un ancho mínimo para cada campo */
}

label {
    font-weight: bold;
    margin-bottom: 5px; /* Espacio entre el checkbox y el label */
}

input[type="text"] {
    padding: 10px;
    margin-top: 5px; /* Espacio entre el checkbox y el campo de texto */
    margin-bottom: 20px; /* Espacio adicional entre campos de texto */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 25px;
    width: 80%; /* Ajustar el ancho para que sea más cuadrado */
    height: 50px; /* Fijar la altura para hacerlo más cuadrado */
}

.button-container {
    display: flex;
    justify-content: center; /* Centrar los botones */
    margin: 20px 0; /* Margen superior e inferior */
}

input[type="submit"],
button {
    background-color: #6605ee;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px; /* Un poco más de padding para hacerlos más grandes */
    font-size: 14px; /* Ajustar tamaño del texto */
    cursor: pointer;
    margin: 0 5px; /* Espacio entre botones */
}

input[type="submit"]:hover,
button:hover {
    background-color: #2404f6;
}

h3 {
    margin-top: 20px;
    color: #333;
    text-align: center;
}

.resultado {
    margin-top: 20px;
    text-align: center; /* Centrar texto del resultado */
}




