body{
    text-align: center;
    justify-content: center;
    display: flex;
}

.container{
    text-align: center;
    justify-content: center;
    background-color: gray;
    padding: 50px;
    margin: 50px;
    border-radius: 50px;
    width: 500px;
    display: block;
}

.number{
    margin: 20px;
    height: 20px;
    border-radius: 20px;
    height: 35px;
    text-align: center;
}

.btnOrden{
    border-radius: 10px;
    width: 90px;
    height: 40px;
    background-color: rgb(214, 70, 159);
    color: white;
    border-color: rgb(121, 89, 89);
    margin-left: 10px;
}

#txtCalculadora{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuadritos {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.cuadro {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.cuadro input[type="text"] {
    margin-left: 5px;
    width: 60px;
}

.btnEnviar, .btnOrden {
    margin: 5px;
}
